<div class="project-container">
  <div class="project-image-container">
    <img src="{{ .Params.image }}" alt="Project Image" class="project-image">
  </div>
  <div class="project-text">
    <h3 class="project-title">{{ .Params.name }}</h3>
    <div class="project-description">
      <ul>
        {{ range $line := .Params.description_lines }}
        <li>{{ $line }}</li>
        {{ end }}
        {{ with .Params.links }}
          {{ range $link := . }}
          <li><a href="{{ $link }}">{{ $link }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>