

// ======= Global =========
// Color of the hover link
$global-link-hover-color: #13ab13;
$global-link-hover-color-dark: #13ab13;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Source+Sans+Pro&display=swap');
$global-font-family: 'Source Sans Pro', 'Noto Sans Mono', 'Open Sans', 'Roboto', Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
$code-font-family: 'JetBrains Mono', Fira Mono, Source Code Pro, Menlo, Consolas, Monaco, monospace;


// ========== Single Content ========== //
// Color of the single link
$single-link-color: #13ab13;
$single-link-color-dark: #13ab13;

// Color of the blockquote
$blockquote-color: #13ab13;
$blockquote-color-dark: #13ab13;

// ========== Pagination ========== //
// Color of the link in pagination
$pagination-link-color: #13ab13;